@import "tailwindcss";

html,
body {
    margin: 0;
  padding: 0;
  box-sizing: border-box;
    overflow-x: hidden;
}



@theme {
    --container-max-width: 1200px;
    --font-helveticaN: 'HelveticaNeue', ui-sans-serif, system-ui;
    --font-optima: 'OPTIMA', ui-sans-serif, system-ui;
    --font-sans: 'Helvetica', ui-sans-serif, system-ui;

}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/assets/Font/HelveticaLTCondensedRegular.ttf');
}

@font-face {
    font-family: 'OPTIMA';
    src: url('/assets/Font/OPTIMA.TTF');
}

@font-face {
    font-family: 'Helvetica';
    src: url('/assets/Font/Helvetica.woff');
}

/* Hide scrollbar but keep scroll functionality */
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}